
 .logged-in-app-container
 {
     display: inline-block;
     width:100%;
 }
 
 .logged-in-side-nav
 {
     width:20%;
     height:100%;
     background-color: #292526;
     position:fixed;
 }
 
 .logged-in-main-content
 {
     display:inherit;
     width:100%;
     padding-left:20%;
     background-color: #F8F8F8;
 }
 
 .logged-in-top-bar
 {
     display: inherit;
     width:100%;
     background-color: aqua;
 }
 
 .logged-in-routing
 {
     display: inherit;
     width:100%;
 }
 
 
  
 
 
 