<div class="row">
    <!-- leftSide Logo layout -->
    <div class="col col-xxl-6">
        <app-logo></app-logo>
    </div>
    <!-- RightSide detail part -->
    <div class="col col-xxl-6">
        <form [formGroup]="userDetail" (ngSubmit)="onSubmit(Password.value,ConfirmPassword.value)">
            <h1 class="head">{{'Set_Password_Title' | translate}}</h1>
            <p class="text">{{'Set_Password_Message'|translate}}</p>


            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">{{'Password'|translate}}</label>

                <div class="password">
                    <input type="password"
                        [class.is-invalid]="password?.invalid && (password?.touched || password?.dirty)"
                        formControlName="password" class="form-control passwordField" id="exampleFormControlInput1"
                        [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" #Password  >


                    <img src="../../../assets/logo and icon/Group 266.svg" (click)="togglePasswordVisibility()">

                </div>
                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                    <small class="text-danger" *ngIf="password?.errors?.['required']">
                       <p class="textAlert">{{'Required_Password'|translate}}</p>
                   </small>
                   <small class="text-danger"  *ngIf="password?.errors?.['pattern']">
                       <p class="textAlert">{{'Valid_Password'| translate}}</p>
                   </small>
                  </div>


            </div>

            <div class="form-group">
            <label for="exampleFormControlInput2" class="form-label confirm">{{'Confirm_Password' | translate}}</label>

            <div class="password">
                <input type="password" class="form-control passwordField" [class.is-invalid]="userDetail?.errors?.['misMatch']"
                    formControlName="confirmPassword" [type]="showPass ? 'text' : 'password'" name="confirmPassword"
                    id="exampleFormControlInput2" placeholder="Password" #ConfirmPassword>
                   
                <img src="../../../assets/logo and icon/Group 266.svg" (click)="togglePasswordVisibili()">
            </div>
            <small class="text-danger" *ngIf="userDetail?.errors?.['misMatch']">
                <p class="textAlert">{{'Valid_Confirm_Password' |translate}} </p>
              </small>

            </div>

            <div *ngIf="loading == false && userDetail?.valid" >
                
                <p class="text-danger textAlert">{{'Check_User' | translate}}</p>
            </div>

            <button class="btn btn-primary " [disabled]="userDetail?.invalid" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" type="submit">{{'Reset_Password'| translate}} 
                <div class="spinner-border" *ngIf="loader" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div></button>
            <div id="collapseExample" [ngbCollapse]="isCollapsed" *ngIf="loading && userDetail?.valid" >

                <div class="content text-center">
                    {{'Reset_Successfully'| translate}} <span routerLink="/signIn">{{'Sign_In' |translate}}</span>
                </div>

            </div>
        </form>
    </div>
</div>