@import '../adminsignIn.css';



label{
    font-weight: 500;
    font-size: 23px;
    margin-top: 35px;
}

.confirm{
    margin-top: 10px;
}

.content{
    margin-top: 30px;
    font-weight: 550;
}

.content span{
    color: #90CE5C;
    text-decoration: underline;
    cursor: pointer;
}

.btn{
    margin-top: 60px;
}

@media only screen and (max-width: 360px){
    .btn{
        height: 63px;
    }
    
}
@media only screen and (max-width: 380px){
label{
    font-size: 14px;
    margin-top: 15px;
}
.form-control{
    height: 41px;
}
.content{
    font-size: 12px;
    margin-top: 20px;
}
}

@media only screen and (max-height: 800px){
.head{
    font-size: 25px;
}



}

.spinner-border{
    width: 1.3rem;
    height: 1.3rem;
    }