<div class="row">
    <!-- leftSide Logo layout -->
    <div class="col col-xxl-6">
        <app-logo></app-logo>
    </div>
    <!-- RightSide detail part -->
    <div class="col col-xxl-6">
        <form [formGroup]="userDetail">
            <h1 class="head">Set New Password</h1>
            <p class="text">Please create a secure password including the following info</p>


            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">Password</label>

                <div class="password">
                    <input type="password"
                        [class.is-invalid]="password?.invalid && (password?.touched || password?.dirty)"
                        formControlName="password" class="form-control passwordField" id="exampleFormControlInput2"
                        [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password">


                    <img src="../../../assets/logo and icon/Group 266.svg" (click)="togglePasswordVisibility()">

                </div>
                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                    <small class="text-danger" *ngIf="password?.errors?.['required']">
                       <p class="textAlert">Password is required</p>
                   </small>
                   <small class="text-danger"  *ngIf="password?.errors?.['pattern']">
                       <p class="textAlert">Password must be 8 characters at least</p>
                   </small>
                  </div>


            </div>

            <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label confirm">Confirm New Password</label>

            <div class="password">
                <input type="password" class="form-control passwordField" [class.is-invalid]="userDetail?.errors?.['misMatch']"
                    formControlName="confirmPassword" [type]="showPass ? 'text' : 'password'" name="confirmPassword"
                    id="exampleFormControlInput2" placeholder="Password">
                   
                <img src="../../../assets/logo and icon/Group 266.svg" (click)="togglePasswordVisibili()">
            </div>
            <small class="text-danger" *ngIf="userDetail?.errors?.['misMatch']">
                <p class="textAlert">password is not same </p>
              </small>

            </div>

            <button class="btn btn-primary " [disabled]="userDetail?.invalid" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" type="submit">Reset Password</button>
            <div id="collapseExample" [ngbCollapse]="isCollapsed">

                <div class="content text-center">
                    Your Password has been successfully reset. <span routerLink="/signIn">Sign In</span>
                </div>

            </div>
        </form>
    </div>
</div>