@import '../adminsignIn.css';

.back{
    
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    margin-left: -50px;
    margin-top: 30px;
    
  
   
}
.back a{
    cursor: pointer;
    color: #E01346;
}

.btn{
    margin-top: 55px;
  }


  .content{
    margin-top: 30px;
    font-weight: 550;
}

.content span{
    color: #90CE5C;
    text-decoration: underline;
    cursor: pointer;
}

.spinner-border{
width: 1.3rem;
height: 1.3rem;
}