<div class="row">
    <div class="col col-xxl-6">
        <!-- leftSide Logo layout -->
        <app-logo></app-logo>
    </div>
    <!-- RightSide detail part -->
    <div class="col col-xxl-6">
        <form [formGroup]="userDetail">
        <h1 class="head">Forgot Password?</h1>
        <p class="text">No worries, we'll send you reset password instructions. </p>
        
        <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label">E-mail</label>
            <input type="email" class="form-control " [(ngModel)]="text"
            [class.is-invalid]="email?.invalid && (email?.touched || email?.dirty)"
                    formControlName="email" placeholder="Email">
             <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                <small class="text-danger" *ngIf="email?.errors?.['required']">
                    <p class="textAlert" style="margin-bottom: -9px;">Email is required</p>
                </small>
                <small class="text-danger" *ngIf="email?.errors?.['pattern']">
                    <p class="textAlert" style="margin-bottom: -9px;"> There should be an email</p>
                </small>
            </div>  
        </div>
   
        
        <button  class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample" [disabled]="userDetail?.invalid"  type="submit">Next</button>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="content">
            We've sent you an email {{text}} at  with the link to reset your password.
        </div>
        <div class="content text-center" style="color: #A9AAAE;">
            Didn't receive an Email<span> Resend</span>
        </div>
        </div>
        <p  class="back text-center"><a routerLink="/signIn"> Back to Sign in </a></p>
    </form>
    </div>
</div>
