@import "../logged-in.component.css";

.top-bar-container
{
    padding-bottom:1%;
    padding-top:3%;
    padding-left:7%;
    display: inline-block;
    width:100%;
    background-color: #EEEEEE;
    /* background-color: aqua; */
}

.name
{
    font-size: 3vw;
    font-weight:600;
    display:inherit;
}

.extra-feature
{
    float:right;
    margin-right:10%;
    display: inherit;
}

img
{
    cursor:pointer;
}

.back
{
    /* border:1px solid black; */
    /* border-radius:50%; */
    display:none;
}

.back-button
{
    background-image: url('../../../assets/images/back-button.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2vw;
    height:2vw;
    margin-left:0;
    margin-right:1vw
}

input[type="search"]
{
    border:0;
    outline:0;
    background-color: white;
    width:20vw;
    border-radius:3px;
    padding:2%;
    
    font-size:1.2vw;
    height:3vw;

}


/* 
input[type="search"]:focus
{
    box-shadow: 0 0 0.3vw 0 #1183d6;
    border-color: #1183d6;
    outline: none;
} */

/* input::placeholder::before
{
    background-image:url('../../../assets/images/back-button.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
} */
form {
    color:  #FFFFFF;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
    background-color:  #FFFFFF;
    box-shadow:0.2vw 0.3vw 0.3vw 0.2vw #DDDDDD;
  }
  
  /* input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  } */
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("../../../assets/images/search-icon.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }
