<div class="side-nav-container">

    <img src="..\..\assets\logo and icon\Group 583.svg" width="40%" class="logo">
    

    <a routerLink="/Dashboard" (click)="selectedOption.emit('Dashboard')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 110.svg">    
        Dashboard
    </a>
    <div class="gap"></div>

    <a routerLink="/User Management" (click)="selectedOption.emit('User Management')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 148.svg">    
        User Management
    </a>
    <div class="gap"></div>

    <a routerLink="/Poll" (click)="selectedOption.emit('Poll')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 142.svg">    
        Poll
    </a>
    <div class="gap"></div>

    <a routerLink="/Blogs" (click)="selectedOption.emit('Blogs')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 152.svg">    
        Blogs
    </a>
    <div class="gap"></div>

    <a routerLink="/Groups" (click)="selectedOption.emit('Groups')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 155.svg">    
        Groups
    </a>
    <div class="gap"></div>

    <a routerLink="/Reports" (click)="selectedOption.emit('Reports')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 157.svg">    
        Reports
    </a>
    <div class="gap"></div>

    <a routerLink="/Profile" (click)="selectedOption.emit('Profile')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 160.svg">    
        Profile
    </a>
    <div class="gap"></div>

    <a routerLink="/Settings" (click)="selectedOption.emit('Settings')" routerLinkActive="active">
        <img src="../../assets/logo and icon/Group 163.svg">    
        Settings
    </a>
    <div class="gap"></div>

    <a style="margin-top:20%;">
        <img src="../../assets/logo and icon/Group 165.svg">
        Logout
    </a>

</div>

