<div class="d-flex">
<div class="card">
    <div class="card-body">
        <p> <b><span><i>assignment</i></span> Project Status</b></p>

        <label for="file">{{progess[0].label}}</label>
        <progress id="file" value="7"  max="100"> {{progess[0].progressValue}}</progress>
        
        <label for="file">{{progess[1].label}}</label>
        <progress id="file" value="70"  max="100"> 70% </progress>

        <label for="file">{{progess[2].label}}</label>
        <progress id="file" value="80"  max="100"> 80% </progress>
        <label for="file">{{progess[3].label}}</label>
        <progress id="file" value="50"  max="100"> 50% </progress>
        <label for="file">{{progess[4].label}}</label>
        <progress id="file" value="60"  max="100"> 60% </progress>
    </div>
</div>


<div class="card" style="margin-left: 15px;">
    <div class="card-body">
        <p> <b><span><i>assignment</i></span> Project Status</b></p>

        <label for="file">{{progess[0].label}}</label>
        <progress id="file" value="7"  max="100"> 7% </progress>
        
        <label for="file">{{progess[1].label}}</label>
        <progress id="file" value="70"  max="100"> 70% </progress>

        <label for="file">{{progess[2].label}}</label>
        <progress id="file" value="80"  max="100"> 32% </progress>
        <label for="file">{{progess[3].label}}</label>
        <progress id="file" value="50"  max="100"> 32% </progress>
        <label for="file">{{progess[4].label}}</label>
        <progress id="file" value="60"  max="100"> 32% </progress>
    </div>
</div>
</div>