@import "../logged-in.component.css";
@import "../top-bar/top-bar.component.css";


.box{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  width: 94%;
  height: 56px;
  background: #EEEEEE 0% 0% no-repeat padding-box;  
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
}


.drop {
    
    width: 20px;
   
    margin-top: -20px;
    margin-right: 10px;
    border: 1px solid transparent;
    
    cursor: pointer;
    
    margin-left: auto;
    display: inherit;
  }
  

  .edit{
    
    margin-top: -55px;
    margin-right: 45px;
    width: 20px;
    margin-left: auto;
    display: inherit;

  }

  .text{
    padding: 15px;
    width: 263px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;  
  }
  

   

  .card {
    padding: 0 18px;
    width: 94%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    display: inherit;
    border: 1px solid transparent;
    border-radius: 0.25rem 
  }
  .qrBody {
   
    text-align: center;
  }

  .qrCode{
      height: 138px;
      padding: 15px;
      margin-top: 40px;
  }
 
  

  .timer img{
    width: 13px;
  }
  .timer span{
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
  }
 
 
  button[type="submit"] {
    text-indent: 0px;
    overflow: hidden;
    width: 10%;
    padding: 2px;
    margin-left: auto;
    display: inherit;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    background: #027a74 no-repeat padding-box;
     
    border-color: #018A83;
    cursor: pointer;
    opacity: 0.7;
  }

  .btn:hover{
    background-color: #005D58;
    border-color: #005D58;
}
 .btn:focus{
    background-color: #005D58;
    border-color: #005D58;
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

input[type="number"]{
  background-color: #E6E6E6;
  
  width: 44px;
  border-radius: 2px;
  padding: 4px;
  
}


label{
  font-weight: 600;
}

textarea{
  width: 100%;
  background-color: #E6E6E6;
  border: 0px;
  border-radius: 2px;
}

textarea:active{
  background-color: #E6E6E6;
  border: 0px;
  border-radius: 2px;
}




@media only screen and (max-width: 700px){
  
  button[type="submit"]{
    width: 29%;
  }
}