<div class="row">
    <!-- leftSide Logo layout -->
    <div class="col col-xxl-6">
        <app-logo></app-logo>
    </div>
    <!-- RightSide detail part -->
    <div class="col col-xxl-6">
        <form [formGroup]="userDetail" (ngSubmit)="onSubmit(Email.value,Password.value)">
            <h1 class="head">{{ 'Home_Title' | translate }}</h1>
            <p class="text">{{'Welcome_Message' | translate}}</p>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">{{'Email'| translate}}</label>
                <input type="email" class="form-control" #Email
                [class.is-invalid]="email?.invalid && (email?.touched || email?.dirty)"
                        formControlName="email" placeholder="Email">
                 <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                    <small class="text-danger" *ngIf="email?.errors?.['required']">
                        <p class="textAlert" style="margin-bottom: -9px;">{{'Required_Email'| translate}}</p>
                    </small>
                    <small class="text-danger" *ngIf="email?.errors?.['pattern']">
                        <p class="textAlert" style="margin-bottom: -9px;"> {{'Valid_Email'| translate}}</p>
                    </small>
                </div> 
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">{{'Password'|translate}}</label>

                <div class="password">
                    <input type="password" #Password
                        [class.is-invalid]="password?.invalid && (password?.touched || password?.dirty)"
                        formControlName="password" class="form-control passwordField" id="exampleFormControlInput2"
                        [type]="showPassword ? 'text' : 'password'" name="password"
                        placeholder="Password">
                        
                            
                    <img src="../../../assets/logo and icon/Group 266.svg" (click)="togglePasswordVisibility()" >
               
                </div>
                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                     <small class="text-danger" *ngIf="password?.errors?.['required']">
                        <p class="textAlert">{{'Required_Password'|translate}}</p>
                    </small>
                   
                    <small class="text-danger"  *ngIf="password?.errors?.['pattern']">
                        <p class="textAlert">{{'Valid_Password' | translate}}</p>
                    </small>
                   </div>
               

            </div>

            <div *ngIf="isLoginError && userDetail?.valid" >
                
                <p class="text-danger textAlert">{{'Incorrect_Detail'|translate}}</p>
            </div>
           
            <p  class="forgotPassword"><a routerLink="/forgotPassword">{{'Forgot_Password' |translate}}</a></p>
            <button class="btn btn-primary" [disabled]="userDetail?.invalid"  type="submit">{{'Sign_In' |translate}}</button>
        </form>
    </div>
</div>