<div class="card">
    <div class="card-body">
      <div class="row">
         <div class="col">
          <p> <i class="bi bi-globe"></i> <b>Website</b><p>
         </div>
         <div class="col"><p><span>{{socialData[0].socialMediaValue}}</span></p></div>
      </div>
      <hr>
      <div class="row">
      <div class="col">
        <p> <i class="bi bi-github"></i><b>Github</b><p>
       </div>
       <div class="col"><p><span>{{socialData[1].socialMediaValue}}</span></p></div>
    </div>
      <hr>
      <div class="row">
      <div class="col">
        <p>  <i class="bi bi-twitter"></i><b>Twitter</b><p>
       </div>
       <div class="col"><p><span>{{socialData[2].socialMediaValue}}</span></p></div>
    </div>
      <hr>
      <div class="row">
        <div class="col">
          <p>  <i class="bi bi-instagram"></i><b>Instagram</b><p>
         </div>
         <div class="col"><p><span>{{socialData[3].socialMediaValue}}</span></p></div>
        </div>
      <hr>
      <div class="row">
        <div class="col">
          <p>  <i class="bi bi-facebook"></i><b>Facebook</b><p>
         </div>
         <div class="col"><p><span>{{socialData[4].socialMediaValue}}</span></p></div>
      </div>
     
      
     
      
    </div>
  </div>
