<div class="logged-in-app-container">
    
    <div class="logged-in-side-nav">
        <app-sidenav (selectedOption)="option=$event"></app-sidenav>
    </div>

    <div class="logged-in-main-content">
        
        <div class="logged-in-top-bar">
            <app-top-bar [option]="option"></app-top-bar>
        </div>
        
        <div class="dashboard-container"> 
            <div class="dashboard-nav">

                <div class="tabs">
                    <button>Today</button>
                </div>

                <div class="tabs">
                    <button>This Week</button>
                </div>

                <div class="tabs">
                    <button>This Month</button>
                </div>

                <div class="tabs">
                    <button>This Year</button>
                </div>

                <div class="tabs" style="margin-right:0;">
                    <span class="date">
                            <button>Date</button>
                            <input id="toDate" name="toDate" placeholder="From">
                            <input id="fromDate" name="fromDate" placeholder="To"  >
                    </span>
                </div>
            </div>                
            
            <div class="info-card" style="border:1px solid #EE5656;" >
                <div class="card">
                    Total Number of Members 
                    <div class="data">{{today[0]}}</div>
                </div>
                    <img src="../../assets/logo and icon/Group 100.svg" style="width:20%">              
            </div>
            
            <div class="info-card" style="border:1px solid #2FB4C2;" >
                <div class="card">
                    Total Number of Groups
                    <div class="data">{{today[1]}}</div>
                </div>
                    <img src="../../assets/logo and icon/Group 92.svg" >              
            </div>
            
            <div class="info-card" style="border:1px solid #82C846; margin-right:0;" >
                <div class="card">
                    Total Number of Subgroups 
                    <div class="data">{{today[2]}}</div>
                </div>
                    <img src="../../assets/logo and icon/Group 108.svg">              
            </div>
            
            <div class="info-card" style="border:1px solid #A2CF68;" >
                <div class="card">
                    Total Number of Polls Created
                    <div class="data">{{today[3]}}</div>
                </div>
                    <img src="../../assets/logo and icon/Group 141.svg">              
            </div>
            
            <div class="info-card" style="border:1px solid #CC9966" >
                <div class="card">
                    Total Number of Events Created 
                    <div class="data">{{today[4]}}</div>
                </div>
                    <img src="../../assets/logo and icon/Group 639.svg">              
            </div>
            
            <div class="info-card" style="border:1px solid #018A83; margin-right:0;" >
                <div class="card">
                    Total Number of Blog Created
                    <div class="data">{{today[5]}}</div>
                </div>
                    <img src="../../assets/logo and icon/Group 104.svg">              
            </div>
            
            <table>
                <tr>
                    <th style="border-top-left-radius:10px;width:13%;">
                        S.no
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Email Id
                    </th>
                    <th>
                        Date of Joining 
                    </th>
                    <th style="border-top-right-radius:10px">
                        Status
                    </th>
                </tr>
                <tr *ngFor="let row of tableData;let i = index;">
                    <ng-container *ngIf="i<=4">
                        <td [style.border-bottom-left-radius]="i==4 ? '10px' : 'none'"
                            style="padding-left:3%"
                        >{{row['sno']}}</td>
                        <td>{{row['username']}}</td>
                        <td>{{row['fullName']}}</td>
                        <td>{{row['emailId']}}</td>
                        <td>{{row['doj']}}</td>
                        <td [style.border-bottom-right-radius]="i==4 ? '10px' : 'none'"
                            [style.color]="row['status'] == 'Active' ? 'green' : 'red'">
                            {{row['status']}}
                        </td>
                    </ng-container>
                </tr>
            </table>
            
        </div>
    </div>
</div>
            
