<div class="row">
    <div class="col col-xxl-6">
        <!-- leftSide Logo layout -->
        <app-logo></app-logo>
    </div>
    <!-- RightSide detail part -->
    <div class="col col-xxl-6">
        <form>
        <h1 class="head">Forgot Password?</h1>
        <p class="text">No worries, we'll send you reset password instructions. </p>
        <label for="exampleFormControlInput1" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">

   
        
        <button routerLink="/setPassword" class="btn btn-primary"  type="submit">Next</button>
        <p routerLink="/signIn" class="back text-center">Back to Sign in</p>
    </form>
    </div>
</div>
