.card{
    width: 350px;
    height: 350px;
    margin-top: 20px;
    margin-left: 100px;
}


img {
    border-radius: 50%;
    /* margin-left: 80px; */
  }

P{
    margin-bottom: 0px;
}
  
.btn {
    margin-left: 4px;
    margin-top: 24px;
}