<div class="card">
  <div class="card-body">


    <div class="row">
      <div class="col-3">
        <p> <b>Full Name</b> </p>
      </div>
      <div class="col-5">
        <p> <span class="text-muted">{{userDetail.fullName}}</span> </p>
      </div>
    </div>
    <hr>
    <div class="row" style="margin-top: -10px;">
      <div class="col-3">
        <p>
        <p> <b>Email</b> </p>
      </div>
      <div class="col-5" style="margin-top: 13px;">
        <p> <span class="text-muted">{{userDetail.email}}</span> </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <p> <b>Phone</b> </p>
      </div>
      <div class="col-5">
        <p> <span class="text-muted">{{userDetail.phone}}</span> </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <p> <b>Mobile</b> </p>
      </div>
      <div class="col-5">
        <p> <span class="text-muted">{{userDetail.mobile}}</span> </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <p> <b>Address</b> </p>
      </div>
      <div class="col-5">
        <p> <span class="text-muted">{{userDetail.address}}</span> </p>
      </div>
    </div>
  



  </div>
</div>